{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Foste</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3">
                  <div class="logo"><a href="{% static 'index.html' %}"><img src="{% static 'images/logo.png' %}"></a></div>
               </div>
               <div class="col-md-9">
                  <nav class="navbar navbar-expand-lg navbar-blue bg-blue">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                   <li class="nav-item active">
                      <a class="nav-link"  href="{% url 'collegeapp:demos' %}"><b>Home</b></a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'collegeapp:about' %}"><b>About</b></a>
                   </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b> Department</b>
                   </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Information_technology">IT</a>
               <a class="dropdown-item" href="https://en.wikipedia.org/wiki/History">History</a><a class="dropdown-item" href="https://en.wikipedia.org/wiki/hindi">Hindi</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Maths">Mathematics</a>
               <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Geography">Geograpy</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/chemistry">Chemistry</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/biology">Biology</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/zoology">zoology</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/English">English</a>
                    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/malayalam">Malayalam</a>
            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Other Services</a>
          </div>-->
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'collegeapp:register' %}"><b>Register</b></a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'collegeapp:loginn' %}"><b>Login</b></a>
            </li>
                 <!--<li class="nav-item">
             <a class="nav-link" href="{% url 'formapp:form_view' %}"><b>form</b></a>
            </li>-->

                  </div>
            </nav></li></ul></div>
            </div>
         </div>
         <!-- banner section start -->
         <div class="banner_section">
            <div class="container-fluid padding_0">
               <div class="row">
                           <div class="col-md-6">
                              <div class="padding_left_0">
                                 <h1 class="retailer_text">We  Provide Professional Consulting</h1>
                                 <p class="search_text">We provide a variety of educational and professional development opportunities for students. We  Colleges offer a wide range of academic programs, such as undergraduate and graduate degrees,
                                    as well as certificates and diplomas in various fields of study.</p>
                                 <div class="btn_main">
                                    <div class="more_bt"><a href="{% url 'collegeapp:loginn' %}">Login here </a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{% static 'images/img-2.png' %}" class="image_1"></div>
                           </div>
                        </div>
                     </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->

      <div class="advisor_section">
         <div class="container">
            <h1 class="what_text">What We Do</h1>
         </div>
      </div>
      <div class="advisor_section_2 layout_padding">
         <div class="container">
            <div class="box_section">
               <div class="row">
                 <div class="col-lg-4 col-sm-12">
                     <div class="box_main">
                        <div class="image_5"></div>
                        <h4 class="consultative_text">Career preparation</h4>
                        <p class="readable_text">Colleges often have career services departments that provide career counseling,
                           resume building, and job search resources to help students prepare for their professional careers..</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="box_main active">
                        <div class="image_4 active"></div>
                        <h4 class="consultative_text active">Social and cultural experiences</h4>
                        <p class="readable_text active"> Colleges provide opportunities for students to engage with their peers, learn about new cultures, and participate in social events and activities,
                           which can enhance their personal growth and development.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="box_main">
                        <div class="image_5"></div>
                        <h4 class="consultative_text">Extracurricular activities</h4>
                        <p class="readable_text">Colleges typically offer a variety of extracurricular activities, such as sports teams, clubs, and organizations,
                           which provide opportunities for students to pursue their interests and develop leadership skills.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <div><img src="{% static 'images/img-8.png' %}" class="image_8"></div>
               </div>
               <div class="col-sm-6">
                  <h1 class="about_taital">About Us</h1>
                  <p class="lorem_text"> A college is a post-secondary educational institution that provides a wide
                     range of academic programs and professional development opportunities to students.
                     These programs may include undergraduate and graduate degrees, certificates, and diplomas in various fields of study such as business,
                     engineering, humanities, social sciences, and sciences.</p>
                  <div class="more_bt"><a href="{% url 'collegeapp:about' %}">Read More </a></div>
               </div>
            </div>
         </div>
      </div>


      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-6">
                  <h4 class="address_text"><u></u></h4>
                  <p class="simply_text"></p>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <h4 class="address_text">QUICK LINKS</h4>
                  <div class="footer_menu_main">
                     <div class="footer_menu">
                        <ul>
                           <li><a href="{% url 'collegeapp:demos' %}">Home</a></li>
                           <li><a href="{% url 'collegeapp:about' %}">About</a></li>
                           <li><a href="{% url 'collegeapp:loginn' %}">Login</a></li>

                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="copyright_text">Copyright 2020 All Rights are Reserved</div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>  
   </body>
</html>