{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Foste</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
   </head>
   <body>
   <!-- contact section end -->
      <!-- footer section start -->
<br>
<br>
    <h1 style="font-family:georgia,garamond,serif;" class="text-center my-title" align="center">&nbsp;<text style="color:green"><u>Register Here</u></text></h1>

<br>
<div align="center">
<form action="register" method="post">
    {% csrf_token %}
   <div class="container">
  <div class="row justify-content-center">
  <div class="col-md-5">
   <div class="card">
       <div class="card-tittle"><b>Create a new account</b></div>
It's quick and easy.
      <div class="card-body py-md-4">
       <form _lpchecked="1">
        <div class="form-group">
             <input type="text" class="form-control"  name="uname" placeholder="UserName">
        </div>

        <div class="form-group">
     <input type="password" class="form-control"  name="pwd" id="password" placeholder="Password">
   </div>
   <div class="form-group">
      <input type="password" class="form-control"  name="cpwd" id="confirm-password" placeholder="confirm-password">
   </div>
   <div class="d-flex flex-row align-items-center justify-content-between">

       <button class="btn btn-primary">SUBMIT</button>
          </div>
       </form>
     </div>
  </div>
</div>
</div>
</div>

<!--
<input type="text" name="uname" placeholder="User Name"><br><br>
    <input type="text" name="fname" placeholder="First Name"><br><br>
    <input type="password" name="pwd" placeholder="Password"><br><br>
 <input type="password" name="cpwd" placeholder="Confirm Password"><br><br>
   &nbsp; <input type="Submit" width="200px" height="30px">-->

</form>


{% for msg in messages%}
<h2 style="color:red">!!!{{msg}}</h2>
{% endfor %}
</div>
   <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-6">
                  <h4 class="address_text"><u></u></h4>
                  <p class="simply_text"></p>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <h4 class="address_text">QUICK LINKS</h4>
                  <div class="footer_menu_main">
                     <div class="footer_menu">
                        <ul>
                           <li><a href="{% url 'collegeapp:demos' %}">Home</a></li>
                           <li><a href="{% url 'collegeapp:about' %}">About</a></li>
                           <li><a href="{% url 'collegeapp:loginn' %}">Login</a></li>

                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="copyright_text">Copyright 2020 All Rights are Reserved</div>
      </div>
      <!-- copyright section end -->
</body>
</html>